table {
    border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
        width: 50%;
}

table, th, td {
    border: 1px solid black;
}

tr {
	 width: 100%;
	 
}
td{
    width: 120px;
	 height: 80px;
	 text-align: center;
	 vertical-align: middle;
    
}
.startup{
    padding: 14px 20px;
    color: #fff;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
}
.startup:hover{
    opacity: .7;
    cursor: pointer;
    color: #ccc;
}