table {
    border-collapse: collapse;
		margin:auto;
       
}
table, th, td {
    border: 1px solid black;
    width: 50%;
}

tr {
	 width: 100%;
	 
}
td{

	 width: 20%;
	 text-align: center;
	 vertical-align: middle;
    
}
td:active{
    border: 3px solid #ff0000;
}
.startup{
    padding: 14px 20px;
    color: #fff;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    background-color: maroon;
    margin:auto;
    margin-bottom:3px;
    display:block;
}
.startup:hover{
    opacity: .7;
    cursor: pointer;
    color: #ccc;
}
.table{
    width: 100%;
    margin: 0 auto;
    
}
@media only screen and (min-width: 500px) {
    .startup{
        display:inline;  
    }
    .table{
        width:40%;
    }
}

img{
    width:100%;
    margin:auto;
}
