table {
    border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: auto;
}
table, th, td {
    border: 1px solid black;
}

tr {
     width: 100%;
     
}
td{
    width: 120px;
     height: 80px;
     text-align: center;
     vertical-align: middle;
    
}
td:active{
    border: 3px solid #ff0000;
}
.startup{
    padding: 14px 20px;
    color: #fff;
    font-size: 2em;
    border-radius: 10px;
    border: none;
    background-color: maroon;
    width: 33%;
}
.startup:hover{
    opacity: .7;
    cursor: pointer;
    color: #ccc;
}
.table{
    width: 45%;
    margin: 0 auto;
}
.instruct{
    color:maroon;
    background-color:lightyellow;
    font-size: 1em;
}
@media screen and (max-width: 800px) and (min-width: 330px){
    .startup{
        width: 85%;
    }
    .center{
        max-width: 100%;
    }

}
